@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;
    background-color: light-dark(white, #121212);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: light-dark(#9ba0b1, #303030);
    padding: 5px 10px;
    display: flex;
    gap: 5px;
}

.toolbar button {
    width: 80px;
    height: 40px;
    border: 0;
    background-color: light-dark(#6c7181, #1d1e23);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s background-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar button svg {
    height: 80%;
    color: #eaeaea;
}

.toolbar button:disabled {
    filter: brightness(.5);
}

.toolbar button:hover:not(:disabled) {
    background-color: #383a44;
}

.editor-layout {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.editor-container {
    display: flex;
    flex: 1;
    position: relative;
    font-family: monospace;
    font-size: 1rem;
}

.editor-container-ed {
    flex: 1;
    position: relative;
    display: flex;
}

#editor {
    flex: 1;
    outline: none;
    border: 0;
    padding: 10px 5px;
    resize: none;
    overflow: auto;
    white-space: nowrap;
    background-color: transparent;
    color: transparent;
    caret-color: light-dark(black, white);
    font-size: 1rem;
}

#editor::selection {
    color: inherit;
    background-color: #183961;
}

#editor-highlight {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px 5px;
    background-color: transparent;
    pointer-events: none;
    white-space: pre;
    font-size: 1rem;
    overflow: auto;
}

.line-number-column {
    padding: 10px 5px;
    text-align: right;
    width: 50px;
    overflow: hidden;
}

.output {
    width: 380px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    border-left: 1px solid gray;
}

.output .row + .row {
    border-top: 1px solid gray;
}

.output .row {
    display: flex;
    padding: 10px 0px;
}

.output .row * {
    flex: 1;
    text-align: center;
}

h3, h4 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

#error {
    display: none;
    color: red;
    border-radius: 20px;
    width: 380px;
    position: fixed;
    left: 0px;
    top: 0px;
}

#error.unknown-error {
    background-color: #f23e3e;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: auto;
    top: auto;
    font-family: monospace;
}

#save-file-dialog {
    background-color: light-dark(#a4a4a444, #1c1c1c45);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.sfd-container {
    background-color: light-dark(#ffffff, #2a2a2a);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
    height: fit-content;
}

.sfd-container input[type="text"] {
    height: 50px;
    outline: none;
    padding: 0px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: light-dark(#c6c6c6, #414141);
    background-color: light-dark(white, #414141);
}

.sfd-options {
    display: flex;
    gap: 5px;
}

.sfd-option {
    border: 2px solid;
    border-color: light-dark(gray, #3f3f3f);
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    font-size: 3rem;
    background-color: light-dark(white, #2d2d2d);
    color: #4f4f4f;
    font-family: "JetBrains Mono";
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s all;
    user-select: none;
}

.sfd-option[data-value="txt"] {
    border-radius: 30px 5px 5px 30px;
    font-weight: 300;
}

.sfd-option[data-value="MS"] {
    border-radius: 5px 30px 30px 5px;
    font-weight: 800;
}

.sfd-option.selected {
    background-image: linear-gradient(#323232, #2b2b2b);
    font-size: 3.5rem;
    color: #868686;
    border-color: #13a94f;
}

.save-file-error {
    color: red;
}

.sfd-container button {
    height: 45px;
    cursor: pointer;
    background-color: light-dark(white, #2d2d2d);
    border: 1px solid;
    border-color: light-dark(gray, #3f3f3f);
    border-radius: 5px 5px 10px 10px;
    transition: 0.2s all;
}

.sfd-container button:hover {
    background-color: light-dark(#cecece, #272727);
    border-color: #49a4ff;
}

@media (max-width: 600px) {
    .editor-layout {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .editor-container {
        width: 100%;
        height: 65%;
    }

    .output {
        height: 35%;
        width: 100%;
        border-left: 0;
        border-top: 1px solid gray;
    }
}

.instruction {
    color: light-dark(#800080, #ab6cab);
}

.number {
    color: #FF8C00;
}

.label {
    color: light-dark(#1E90FF, #49a4ff);
}

.var {
    color: light-dark(#0fa16e, #06b906);
}

::highlight(error) {
    text-decoration: red wavy underline;
}
